---
layout: default
current: our-team
title: Sports Team
navigation: true
logo: 'assets/images/logo.png'
class: page-template
subclass: 'post page'
sports: true
---
<!-- The big featured header, it uses blog cover image as a BG if available -->
<header class="site-header outer">
    <div class="inner">
        {% include site-nav.html %}
    </div>
</header>

<main id="site-main" class="site-main outer" role="main">
    <div class="inner">

        <article class="post-full {{ page.subclass }} {% unless page.cover %}no-image{% endunless %}">

            <header class="post-full-header">
                <h1 class="site-title">{{ page.title }}</h1>
            </header>
        </article>
    </div>
</main>

<main id="site-main" class="site-main outer {% if issports %} sports{% endif %}" role="main">
    <div class="inner">

        <div class="post-feed" style="width:100%">
            <!-- The tag below includes the markup for each post - partials/post-card.hbs -->
            {%  include author-card.html %}
        </div>

        <div class="post-footnote">
          <a href="mailto:pangeanmailbox@gmail.com?Subject=Join%20the%20team" target="_top">Join our team</a> and be part of the revolution. We always welcome articles.
        </div>
    </div>
</main>
