{% assign section_select = "millennial" %}

<div class="post-feed-main">
    <!-- The tag below includes the markup for each post - partials/post-card.hbs -->
    {%  include post-card-main.html %}
</div>

<div class="title-column">
  {% assign counter_top = 0 %}
  {% for post in site.posts %}
    {% if post.tags contains site.data.tags[section_select].name %}
      {% assign counter_top = counter_top | plus:1 %}
    {% endif %}
  {% endfor %}
  {% if counter_top > 0 %}
    <a href="{{site.baseurl}}tag/{{ section_select }}" style="color:#15171A"><h2>{{ site.data.tags[section_select].title}}</h2></a>
  {% endif %}
</div>

<div class="post-feed-column">
    {% include post-card-column.html %}
</div>
