<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}sports">Home</a></li>
      <li class="nav-football-eu" role="menuitem"><a href="{{site.baseurl}}tag/football">{{ site.data.tags.football.title}}</a></li>
    <li class="nav-football-us" role="menuitem"><a href="{{site.baseurl}}tag/american-football">{{ site.data.tags.american-football.title}}</a></li>
    <li class="nav-basketball" role="menuitem"><a href="{{site.baseurl}}tag/basketball">{{ site.data.tags.basketball.title}}</a></li>
    <li class="nav-baseball" role="menuitem"><a href="{{site.baseurl}}tag/baseball">{{ site.data.tags.baseball.title}}</a></li>
    <li class="nav-contributors" role="menuitem"><a href="{{site.baseurl}}sports/sports-team">Sports Team</a></li>
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Main Site</a></li>

</ul>
