<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}sports">Home</a></li>
    {% for tag in site.data.tags %}
    {% if tag[1].sports and tag[1].hidden == False %}
    {% assign section_select = tag[1].name %}
    <li class="nav" role="menuitem"><a href="{{site.baseurl}}tag/{{ section_select }}">{{ site.data.tags[section_select]title}}</a></li>
    {% endif %}
    {% endfor %}
    <li class="nav-contributors" role="menuitem"><a href="{{site.baseurl}}sports/sports-team">Sports Team</a></li>
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Main Site</a></li>

</ul>
