<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}sports/index.html">Home</a></li>
      <li class="nav-football-eu" role="menuitem"><a href="{{site.baseurl}}tag/football-eu">{{ site.data.tags.football-eu.title}}</a></li>
    <li class="nav-football-us" role="menuitem"><a href="{{site.baseurl}}tag/football-us">{{ site.data.tags.football-us.title}}</a></li>
    <li class="nav-basketball" role="menuitem"><a href="{{site.baseurl}}tag/basketball">{{ site.data.tags.basketball.title}}</a></li>
    <li class="nav-baseball" role="menuitem"><a href="{{site.baseurl}}tag/baseball">{{ site.data.tags.baseball.title}}</a></li>
    <li class="nav-contributors" role="menuitem"><a href="{{site.baseurl}}our-team">Our Team</a></li>
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Main Site</a></li>

</ul>
