{% assign counter = 0 %}
{% for post in site.posts %}
    {% if post.tags contains site.data.tags[section_select].name and counter < 1 %}
        {% assign counter = counter | plus:1 %}
        <article class="post-card-noshadowhover {{ page.class }}{% unless post.cover %} no-image{% endunless %}">
            {% if post.cover %}
                <a class="post-card-image-link" href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}">
                    <div class="post-card-image-main" style="background-image: url({{ site.baseurl }}assets/images/{{ post.cover }})"></div>
                </a>
            {% endif %}
            <div class="post-card-content">
                <a class="post-card-content-link" href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}">
                    <header class="post-card-header">
                        {% if post.tags.size > 0 %}
                            {% for tag in post.tags %}
                              {% unless site.data.tags[tag].hidden %}
                                {% if forloop.index == post.tags.size %}
                                    <span class="post-card-tags">{{ tag | capitalize }}</span>
                                {% else %}
                                   <span class="post-card-tags">{{ tag | capitalize }}</span>
                                {% endif %}
                              {% endunless %}
                            {% endfor %}
                        {% endif %}

                        <h2 class="post-card-title">{{ post.title }}</h2>
                    </header>
                    <section class="post-card-excerpt">
                        <p class="truncate" style="-webkit-line-clamp: 10;">{{ post.content | strip_html}}</p>
                        <!-- <p>{{ post.content | strip_html | truncatewords: 150, "" }}...</p> -->
                    </section>
                </a>
                <footer class="post-card-meta">
                    {% include multiple-authors.html %}
                </footer>
            </div>
        </article>
    {% endif %}
{% endfor %}
