{% include issports.html %}
<nav class="site-nav">
    <div class="site-nav-left">
        {% unless page.current == 'home' or page.current == 'home-sports' %}
            {% if site.logo or site.logo_sports %}
                <a class="site-nav-logo" href="{{ site.url }}{{ site.baseurl }}{% if issports %}sports{% endif %}"><img src="{{ site.baseurl}}{% if issports %}{{ site.logo_sports }}{% else %}{{ site.logo }}{% endif %}" alt="{{ site.title }}" /></a>
            {% else %}
                <a class="site-nav-logo" href="{{ site.url }}{{ site.baseurl }}">{{ site.title }}</a>
            {% endif %}
        {% endunless %}
        {% if page.navigation %}
            {% if issports %}
                {% include navigation-sports.html %}
            {% else %}
                {% include navigation.html %}
            {% endif %}
        {% endif %}
    </div>
    <div class="site-nav-right">
        <div class="social-links">
            {% if site.facebook %}
                <a class="social-link social-link-fb" href="https://facebook.com/{{ site.facebook }}" target="_blank" rel="noopener">{% if issports %}{% include facebook-sports.html %}{% else %}{% include facebook.html %}{% endif %}</a>
            {% endif %}
            {% if site.twitter %}
                <a class="social-link social-link-tw" href="https://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener">{% if issports %}{% include twitter-sports.html %}{% else %}{% include twitter.html %}{% endif %}</a>
            {% endif %}
            {% if site.instagram %}
                <a class="social-link social-link-ig" href="https://www.instagram.com/{{ site.instagram }}" target="_blank" rel="noopener">{% if issports %}{% include instagram-sports.html %}{% else %}{% include instagram.html %}{% endif %}</a>
            {% endif %}
            {% if site.linkedin %}
                <a class="social-link social-link-in" href="https://www.linkedin.com/{{ site.linkedin }}" target="_blank" rel="noopener">{% include linkedin.html %}</a>
            {% endif %}
        </div>
        {% if site.subscribers %}
            <a id="nav-subscribe-button" class="subscribe-button" href="#subscribe" onclick="showElement('subscribe', 'flex')">Subscribe</a>
        {% endif %}
    </div>
</nav>

<nav class="site-nav" style="height: 100%">
  <div id="site_nav_dropdown_left" class="site-nav-left">
      {% if page.navigation %}
          {% include navigation-dropdown.html %}
      {% endif %}
  </div>
</nav>

<script>
    function showElement(elementId, style) {
        // location.hash = ''
        // Shows a element from the document
        var element = document.getElementById(elementId);
        element.style.display = style;
    }
</script>