@import "global.css";

/* MENU BAR  */

.site-header {
    background: color(var(--black)) no-repeat center center;
}

.site-header:after {
    background: var(--black)/* linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0)); */
}

.nav li a {
    color: #fff;
}

.social-link {
    color: #fff;
}

.social-link svg {
    fill: #fff;
}

.social-link-wb svg path {
    stroke: #fff;
}

.subscribe-button {
    border: #fff 1px solid;
    color: #fff;
}

.rss-button svg {
    fill: #fff;
}
