---
layout: default
current: home
class: 'sports-template'
sports: true
navigation: true
cover: blog-cover-sports.jpg
---
{% if page.tag.sports or page.sports %}
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/built/sports.css" />
{% endif %}

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="{{ site.production_url }}assets/images/{{ page.cover }}" />
<meta name="Description" content="Taking a step back, The Pangean is a newspaper that seeks to herald a revolution in media. It has no ideological persuasion in the articles it puts forth, welcoming diverse opinions on all kinds of subjects." />

<!-- < default -->
<!-- The tag above means: insert everything in this fileassets/images/{{ page.cover }}
into the {body} of the default.hbs template -->

<!-- The big featured header, it uses blog cover image as a BG if available -->
<header class="site-header outer no-cover">
    <div class="inner">
        <div class="site-header-content">
            <h1 class="site-title">
                {% if site.logo_sports %}
                    <img class="site-logo" src="{{ site.baseurl }}{{ site.logo_sports }}" alt="{{ site.title }}"/>
                {% else %}
                    {{ site.title }}
                {% endif %}
            </h1>
            <!-- <h2 class="site-description">{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}</h2> -->
        </div>
        {% include site-nav.html %}
    </div>
</header>

<!-- The main content area -->
<main id="site-main" class="site-main outer" role="main">
    <div class="inner">

      {% assign section_select = "headline" %}

      <div class="post-feed-main">
          <!-- The tag below includes the markup for each post - partials/post-card.hbs -->
          {%  include post-card-main.html %}
      </div>

      {% assign section_select = "trending" %}

      <div class="title-column">
        <h2>{{ site.data.tags[section_select].title}}</h2>
      </div>

      <div class="post-feed-column">
          {% include post-card-column.html %}
      </div>


      {% assign section_select = "football-eu" %}
      <div class="title">
        <a href="{{site.baseurl}}tag/{{ section_select }}" style="color:#15171A"><h2>{{ site.data.tags[section_select].title}}</h2></a>
      </div>

      <div class="post-feed">
          <!-- The tag below includes the markup for each post - partials/post-card.hbs -->
          {%  include post-card-section.html %}
      </div>

      {% assign section_select = "football-us" %}
      <div class="title" >
        <a href="{{site.baseurl}}tag/{{ section_select }}" style="color:#15171A"><h2>{{ site.data.tags[section_select].title}}</h2></a>
      </div>
      <div class="post-feed" >
          <!-- The tag below includes the markup for each post - partials/post-card.hbs -->

          {%  include post-card-section.html %}
      </div>

      {% assign section_select = "basketball" %}
      <div class="title" >
        <a href="{{site.baseurl}}tag/{{ section_select }}" style="color:#15171A"><h2>{{ site.data.tags[section_select].title}}</h2></a>
      </div>

      <div class="post-feed " >
          <!-- The tag below includes the markup for each post - partials/post-card.hbs -->
          {%  include post-card-section.html %}
      </div>

      {% assign section_select = "baseball" %}
      <div class="title" >
        <a href="{{site.baseurl}}tag/{{ section_select }}" style="color:#15171A"><h2>{{ site.data.tags[section_select].title}}</h2></a>
      </div>

      <div class="post-feed " >
          <!-- The tag below includes the markup for each post - partials/post-card.hbs -->
          {%  include post-card-section.html %}
      </div>


    </div>
</main>
