---
layout: default
current: home-sports
class: 'sports-template'
sports: true
navigation: true
cover: blog-cover-sports.jpg
---

<!-- < default -->
<!-- The tag above means: insert everything in this fileassets/images/{{ page.cover }}
into the {body} of the default.hbs template -->

<!-- The big featured header, it uses blog cover image as a BG if available -->
<header class="site-header outer no-cover">
    <div class="inner">
        <div class="site-header-content">
            <h1 class="site-title">
                {% if site.logo_sports %}
                    <img class="site-logo" src="{{ site.baseurl }}{{ site.logo_sports }}" alt="{{ site.title }} Sports"/>
                {% else %}
                    {{ site.title }}
                {% endif %}
            </h1>
            <!-- <h2 class="site-description">{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}</h2> -->
        </div>
        {% include site-nav.html %}
    </div>
</header>

<!-- The main content area -->
<main id="site-main" class="site-main outer" role="main">
    <div class="inner">

      {% assign section_select = "headline" %}

      <div class="post-feed-main">
          <!-- The tag below includes the markup for each post - partials/post-card.hbs -->
          {%  include post-card-main.html %}
      </div>

      {% assign section_select = "millennial" %}

      <div class="title-column">
        <h2>{{ site.data.tags[section_select].title}}</h2>
      </div>

      <div class="post-feed-column">
          {% include post-card-column.html %}
      </div>

      {% for tag in site.data.tags %}
      {% if tag[1].sports and tag[1].hidden == False %}

      {% assign section_select = tag[1].name %}

      <div class="title">
        <a href="{{site.baseurl}}tag/{{ section_select }}"><h2>{{ site.data.tags[section_select].title}}</h2></a>
      </div>

      <div class="post-feed">
          <!-- The tag below includes the markup for each post - partials/post-card.hbs -->
          {%  include post-card-section.html %}
      </div>

      {% endif %}
      {% endfor %}


    </div>
</main>
