---
layout: default
current: home
class: 'sports-template'
sports: true
navigation: true
cover: false
---
{% if page.tag.sports or page.sports %}
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/built/sports.css" />
{% endif %}

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="{{ site.production_url }}{{ page.cover }}" />
<meta name="Description" content="Taking a step back, The Pangean is a newspaper that seeks to herald a revolution in media. It has no ideological persuasion in the articles it puts forth, welcoming diverse opinions on all kinds of subjects." />

<!-- < default -->
<!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template -->

<!-- The big featured header, it uses blog cover image as a BG if available -->
<header class="site-header outer {% if page.cover or site.cover %}" style="background-image:  url({{ site.baseurl }}{% if page.cover %}{{ page.cover }}{% elsif site.cover %}{{ site.cover }}{% endif %}) {% else %}no-cover{% endif %}">
    <div class="inner">
        <div class="site-header-content">
            <h1 class="site-title">
                {% if site.logo_sports %}
                    <img class="site-logo" src="{{ site.baseurl }}{{ site.logo_sports }}" alt="{{ site.title }}"/>
                {% else %}
                    {{ site.title }}
                {% endif %}
            </h1>
            <!-- <h2 class="site-description">{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}</h2> -->
        </div>
        {% include site-nav.html %}
    </div>
</header>

<!-- The main content area -->
<main id="site-main" class="site-main outer" role="main">
    <div class="inner">

      <div class="title">
        <a href="{{site.baseurl}}tag/football-eu" style="color:#15171A"><h2>{{ site.data.tags.football-eu.title}}</h2></a>
      </div>

      <div class="post-feed">
          <!-- The tag below includes the markup for each post - partials/post-card.hbs -->
          {%  include post-card.html %}
      </div>

      <div class="title" >
        <a href="{{site.baseurl}}tag/football-us" style="color:#15171A"><h2>{{ site.data.tags.football-us.title}}</h2></a>
      </div>
      <div class="post-feed" >
          <!-- The tag below includes the markup for each post - partials/post-card.hbs -->
          {%  include post-card-football-us.html %}
      </div>

      <div class="title " >
        <a href="{{site.baseurl}}tag/basketball" style="color:#15171A"><h2>{{ site.data.tags.basketball.title}}</h2></a>
      </div>

      <div class="post-feed " >
          <!-- The tag below includes the markup for each post - partials/post-card.hbs -->
          {%  include post-card-basketball.html %}
      </div>

      <div class="title " >
        <a href="{{site.baseurl}}tag/baseball" style="color:#15171A"><h2>{{ site.data.tags.baseball.title}}</h2></a>
      </div>

      <div class="post-feed " >
          <!-- The tag below includes the markup for each post - partials/post-card.hbs -->
          {%  include post-card-baseball.html %}
      </div>


    </div>
</main>
