---
layout: default
current: our-team
title: Our Team
navigation: true
logo: 'assets/images/logo.png'
class: page-template
subclass: 'post page'
---
<!-- The big featured header, it uses blog cover image as a BG if available -->
<header class="site-header outer">
    <div class="inner">
        {% include site-nav.html %}
    </div>
</header>

<main id="site-main" class="site-main outer" role="main">
    <div class="inner">

        <article class="post-full {{ page.subclass }} {% unless page.cover %}no-image{% endunless %}">

            <header class="post-full-header">
                <h1 class="site-title" style="color: #000">{{ page.title }}</h1>
            </header>
        </article>
    </div>
</main>

<main id="site-main2" class="site-main outer" role="main">
    <div class="inner">

        <div class="post-feed" style="width:100%">
            <!-- The tag below includes the markup for each post - partials/post-card.hbs -->
            {%  include author-card.html %}
        </div>

        <div class="post-footnote">
          <a id="link-click" href="#bottom">Join our team</a> and be part of the revolution. We always welcome articles.
        </div>
    </div>
</main>

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- MINOR ERROR WHEN LINKING FROM ANOTHER SITE -->

<script type="text/javascript">
  $(document).ready(function(){

    $("#link-click").click(function(){
      $("#application").show();
    });
  });

</script>

<main id="site-main3" class="site-main outer" role="main">
  <div id="application" class="inner" style="display: none">
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeHEMW3eddc19EUnCYMJNWVYJLjenSSd06v9pWa75TpHp5nRg/viewform?embedded=true" width="100%" height="1736" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  </div>
</main>
