---
layout: default
current: post
class: post-template
disqus: false
survey: False
---

<!-- default -->

<!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template -->

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="{{ site.production_url }}assets/images/{{ page.cover }}" />



<header class="site-header outer">
    <div class="inner">
        {% include site-nav.html %}
    </div>
</header>

<!-- Everything inside the #post tags pulls data from the post -->
<!-- #post -->

<main id="site-main" class="site-main outer" role="main">
    <div class="inner">

        <article class="post-full {{ page.subclass }} {% unless page.cover %}no-image{% endunless %}">

            <header class="post-full-header">
                <section class="post-full-meta">
                    <time class="post-full-meta-date" datetime="{{ page.date | date:'%B %e, %Y' }}">{{ page.date | date:'%B %e, %Y' }}</time>
                    {% if page.tags.size > 0 %}
                        <span class="date-divider">/</span>
                        {% for tag in page.tags %}
                          {% unless site.data.tags[tag].hidden %}
                            {% if forloop.index == page.tags.size %}
                               &nbsp <a href='{{ site.baseurl }}tag/{{ tag | downcase | replace: ' ', '-' }}/'>{{ site.data.tags[tag].title | upcase }}</a>
                            {% else %}
                               &nbsp <a href='{{ site.baseurl }}tag/{{ tag | downcase | replace: ' ', '-' }}/'>{{ site.data.tags[tag].title | upcase }} </a>,
                            {% endif %}
                          {% endunless %}
                        {% endfor %}
                    {% endif %}
                </section>
                <br>
                <h1 class="post-full-title">{{ page.title }}</h1>
            </header>

            {% if page.cover %}
            <div style="width:100%;">
              <a href="{{page.link}}" rel="noopener noreferrer" target="_blank">
                <figure class="post-full-image" style="background-image: url({{ site.baseurl }}assets/images/{{ page.cover }})">
                </figure>
              </a>
            </div>
            {% endif %}

            <section class="post-full-content">
                <div class="kg-card-markdown {% unless page.disable-first-letter %}first-letter{% endunless %}">
                    {{ content }}
                </div>
            </section>

            <footer class="post-full-footer">
                <!-- Everything inside the #author tags pulls data from the author -->
                <!-- #author-->

                {% for author in site.data.authors %}
                    {% if page.author contains author[1].username %}
                    {% unless author[1].graphics %}
                        <section class="author-card">
                            {% if author[1].picture %}
                                <img class="author-profile-image" src="{{ site.baseurl }}assets/images/{{ author[1].picture }}" alt="{{ author[1].username }}" />
                            {% endif %}
                            <section class="author-card-content">
                                <h4 class="author-card-name"><a href="{{ site.baseurl }}author/{{ author[1].username }}">{{ author[1].name }}</a></h4>
                                {% if author[1].bio %}
                                    <p class="truncate">{{ author[1].bio}}</p>
                                {% else %}
                                    <p>Read <a href="{{ site.baseurl }}author/{{ author[1].username }}">more posts</a> by this author.</p>
                                {% endif %}
                            </section>
                        </section>
                        <!-- <div class="post-full-footer-right">
                            <a class="author-card-button" href="{{ site.baseurl }}author/{{ page.author }}">Read <br>More</a>
                        </div> -->
                    {% endunless %}
                    {% endif %}
                {% endfor %}
                <!-- /author  -->
            </footer>

            <!-- Email subscribe form at the bottom of the page -->
            {% if site.subscribers %}
                <section id="subscribe" class="subscribe-form">
                    <div id="subscribe_overlay">
                        <h3 class="subscribe-form-title">Subscribe to {{ site.title }}</h3>
                        <p>Get the latest posts delivered right to your inbox</p>
                        {% include subscribe-form.html placeholder="youremail@example.com" %}
                    </div>
                    <div id="subscribe_overlay-thanks" style="display:none">
                        <h3 class="subscribe-form-title">Thank you for subscribing!</h3>
                    </div>
                </section>
            {% endif %}


            {% if page.survey %}
              <div id="survey" class="subscribe-overlay" style="top:0.5vh">
                  <a class="subscribe-overlay-close" onclick="removeElement('survey')"></a>
                  <div id="survey_overlay" class="subscribe-overlay-content">
                      {% if site.logo %}
                          <!-- <img class="subscribe-overlay-logo" src="{{ site.baseurl }}{{ site.logo }}" alt="{{ site.title }}" /> -->
                      {% endif %}
                      <h3 class="subscribe-overlay-title">We would love your help!</h3>
                      <p class="subscribe-overlay-description">Please, if at all possible, take 5 minutes (or less) to fill out this survey so we can gain insight on how to better cater to your needs: <br><br><a href="/survey/" target="_blank"><button value="Subscribe"><strong style="color:white">Survey 2020</strong></button></a></p>
                  </div>
                  <div id="survey_overlay-thanks" class="subscribe-overlay-content" style="display:none">
                      {% if site.logo %}
                          <img class="subscribe-overlay-logo" src="{{ site.baseurl }}{{ site.logo }}" alt="{{ site.title }}" />
                      {% endif %}
                      <h1 class="subscribe-overlay-title">Thank you for subscribing!</h1>
                  </div>
              </div>
            {% endif %}

            <footer class="post-full-footer">
              <div class="post-footnote">
                The Pangean does not condemn or condone any of the views of its contributors. It only gives them the space to think and write without hindrance.
              </div>
            </footer>

            {% if site.disqus or page.disqus %}
            {% assign disqus_identifier = page.url | remove_first: '/' %}
            {% unless issports %}
                <section class="post-full-comments">
                    <div id="disqus_thread"></div>
                    <script>
                        var disqus_config = function () {
                            this.page.url = '{{ site.url }}{{ site.baseurl }}{{ post.url | remove_first: '/' }}';
                            this.page.identifier = '{{ post.url | remove_first: '/' }}';
                        };
                        (function() {
                            var d = document, s = d.createElement('script');
                            s.src = 'https://{{ site.disqus_shortname }}.disqus.com/embed.js';
                            s.setAttribute('data-timestamp', +new Date());
                            (d.head || d.body).appendChild(s);
                        })();
                    </script>
                </section>
            {% endunless %}
            {% endif %}

        </article>

    </div>
</main>

<!-- Links to Previous/Next posts -->
<aside class="read-next outer">
    <div class="inner">
        <div class="read-next-feed">
            {% if page.tags.size > 0 %}
                {% assign primary = page.tags | first %}
                {% assign related_posts = 0 %}
                {% for post in site.posts %}
                  {% if post.tags.size > 0 %}
                      {% if post.tags contains primary %}
                        {% assign related_posts = related_posts | plus: 1 %}
                      {% endif %}
                  {% endif %}
                {% endfor %}
                {% if related_posts > 1 %}
                    <article class="read-next-card"
                        {% if site.cover %}
                            style="background-image: url({{ site.baseurl }}assets/images/{{ site.cover }})"
                        {% else %}
                            {% if page.cover %}
                                style="background-image: url(url({{ site.baseurl }}assets/images/{{ page.cover }})"{% endif %}
                        {% endif %}
                    >
                        <header class="read-next-card-header">
                            <small class="read-next-card-header-sitetitle"> {{ site.title }} </small>
                            {% if primary %}
                                <h3 class="read-next-card-header-title"><a href="{{ site.baseurl }}tag/{{ primary | downcase | replace: ' ', '-' }}/">&mdash;{{ primary | capitalize }}&mdash;</a></h3>
                            {% endif %}
                        </header>
                        <!-- <div class="read-next-divider">{% include infinity.html %}</div> -->
                        <div class="read-next-card-content">
                            <ul>
                                {% assign count = 0 %}
                                {% for post in site.posts %}
                                  {% if post.tags contains primary %}
                                    {% if post.title != page.title %}
                                        {% assign count = count | plus: 1 %}
                                        {% if count <= 4 %}
                                            <li><a href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}">{{ post.title }}</a></li>
                                        {% endif %}
                                    {% endif %}
                                  {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <footer class="read-next-card-footer">
                            <a href="{{ site.baseurl }}tag/{{ primary | downcase | replace: ' ', '-' }}/">
                                {% if related_posts > 1 %}
                                    See all →
                                {% elsif related_posts == 1 %}
                                    {{ related_posts }} post  →
                                {% else %}
                                    No posts.
                                {% endif %}
                            </a>
                        </footer>
                    </article>
                {% endif %}
            {% endif %}

            <!-- If there's a next post, display it using the same markup included from - partials/post-card.hbs -->

            {% if page.next %}
                {% include post-card-next.html %}
            {% endif %}

            <!-- If there's a previous post, display it using the same markup included from - partials/post-card.hbs -->
            {% if page.previous %}
                {% include post-card-previous.html %}
            {% endif %}

        </div>
    </div>
</aside>

<!-- Floating header which appears on-scroll, included from includes/floating-header.hbs -->
{% include floating-header.html %}

<!-- /post -->

<!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs -->
{% if page.survey %}
  <script type="text/javascript">
    window.onscroll = function() {
      var d = document.documentElement;
      var offset = d.scrollTop + window.innerHeight;
      var height = d.offsetHeight;

      console.log('offset = ' + offset);
      console.log('height = ' + height);

      if (offset >= height - 2000) {
        window.location.href = '#survey'
        console.log('At the bottom');
      }
    };

    function removeElement(elementId) {
      // Removes an element from the document
      var element = document.getElementById(elementId);
      element.parentNode.removeChild(element);
    }

  </script>
{% endif %}
