---
layout: default
current: tag
title: Tag Page
cover: false
class: 'tag-template'
navigation: True
logo: 'assets/images/logo.png'
---
<!-- default -->
<!-- The tag above means - insert everything in this file into the {body} of the default.hbs template -->

<!-- The big featured header, it uses blog cover image as a BG if available -->
<!-- #tag -->
{% include dynamic_tag_info.html %}
<header class="site-header outer {% if cover or page.cover %}" style="background-image: url({{ site.baseurl }}{% if cover %}{{ cover }}{% else %}assets/images/{{ page.cover }}{% endif%}) {% else %}no-cover{% endif %}">
    <div class="inner">
        {% include site-nav.html %}
    </div>
</header>
<!-- tag -->

<main id="site-main-1" class="site-main outer" role="main">
    <div class="inner">

        <article class="post-full {{ page.subclass }} {% unless page.cover %}no-image{% endunless %}">

            <header class="post-full-header">
              <h1 class="site-title">{{ site.data.tags[page.tag].title }}</h1>
            </header>
        </article>
    </div>
</main>

{% if site.data.tags[page.tag].column %}

<main id="site-main-2" class="site-main outer" role="main">
    <div class="inner">

      {% assign section_select = page.tag %}

      <div class="site-header-content" style="padding: 4vw 2vw; min-height: 100px; max-height: 450px;">
        <h2 class="author-bio">{{ site.data.tags[page.tag].description }}</h2>
      </div>

      <div class="post-feed-main">
          <!-- The tag below includes the markup for each post - partials/post-card.hbs -->
          {%  include post-card-main-columnist.html %}
      </div>

      <div class="title-column">
          <a href="{{site.baseurl}}tag/{{ section_select }}" style="color:#15171A"><h2>Featured</h2></a>
      </div>

      <div class="post-feed-column">
          {% include post-card-column-columnist.html %}
      </div>

    </div>
</main>

{% endif %}

<!-- The main content area -->
<main id="site-main-3" class="site-main outer" role="main">
    <div class="inner">
        {% if site.data.tags[page.tag].column %}
            <div class="title">
              <a href="{{site.baseurl}}tag/{{ section_select }}" style="color:#15171A"><h2>Latest</h2></a>
            </div>
        {% endif %}
        <div class="post-feed" style="width:100%">
            <!-- The tag below includes the markup for each post - partials/post-card.hbs -->
            {%  include post-card.html %}
        </div>
    </div>
</main>

<main id="site-main-4" class="site-main outer">
    <div class="inner">

        <footer class="post-full-footer">
            <!-- Everything inside the #author tags pulls data from the author -->
            <!-- #author-->

            {% for author in site.data.authors %}
            {% if site.data.tags[page.tag].author contains author[1].username %}
            <section class="author-card">
              {% if author[1].picture %}
              <img class="author-profile-image" src="{{ site.baseurl }}assets/images/{{ author[1].picture }}" alt="{{ author[1].username }}" />
              {% endif %}
              <section class="author-card-content">
                <h4 class="author-card-name"><a href="{{ site.baseurl }}author/{{ author[1].username }}">{{ author[1].name }}</a></h4>
                {% if author[1].bio %}
                <p class="truncate">{{ author[1].bio}}</p>
                {% else %}
                <p>Read <a href="{{ site.baseurl }}author/{{ author[1].username }}">more posts</a> by this author.</p>
                {% endif %}
              </section>
            </section>
            <!-- <div class="post-full-footer-right">
              <a class="author-card-button" href="{{ site.baseurl }}author/{{ page.author }}">Read <br>More</a>
            </div> -->
            {% endif %}
            {% endfor %}
            <!-- /author  -->
        </footer>


    </div>

</main>
